<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1><%= @task.goal.topic %></h1>
    <p>
      Вам отправлено задание от: <%=@task.user.post%> <%=@task.user.surname%><br>
    </p>
    <p>
      Описание: <%= @task.description%>
    </p>
  </body>
</html>

