<h1>Идёт стройка СЭД.</h1>
<h2> Приносим извинения за временные неудобства :") </h2>

<%#= link_to 'Входящие задания', goals_path(doc), data: {method: :delete, confirm: 'Are you sure?'} %>
<%= link_to 'Исходящие задания', goals_path %>