<div class="row-auto">
<%= link_to 'Создать новый документ', new_document_path, class: 'shine-button' %>
</div>

<div class="mb-4 raw-auto">
<% @documents.each do |doc|%>
<div class="mb-3 col-sm-3">
 <% if doc.file.previewable? %>
        <%= image_tag doc.file.preview(resize_to_limit: [200, 200]) %>
 <% end %> 

 <%= link_to "Посмотреть #{doc.name}", document_path(doc)  %> 
 </div>
<% end %>
 </div>

 




  