<div class="row">
 <div class="col-sm-6">
  <table class="doc-table">
   <caption>
    Мои документы
   </caption>
  <tr> <!--ряд с ячейками заголовков-->
    <th colspan="2">название</th>
    <th colspan="2">тип документа</th>
    <th></th>
  </tr> 
  <% @documents.each do |doc| %>
    <tr> <!--ряд с ячейками тела таблицы-->
     <td><%= doc.name%>Договор о продаже</td>
     <td></td>
     <td><%= doc.doc_type%>Договор</td>
     <td></td>
     <td><%=link_to "Посмотреть", document_path(doc),  style: 'color:#5C2018;' %></td>
    </tr> 
  <% end %>
 </table>
</div>

<div class="col">
<%= link_to 'Создать документ', new_document_path, class: 'shine-button' %>
</div>
</div>
 




  