<div class="row">
<div class="col-sm-3">
<%= link_to 'Создать документ', new_document_path, class: 'shine-button' %>
<%= render 'menu'%>
</div>
 <div class="col-sm-6">
  <table class="doc-table">
   <caption>
    Мои документы
   </caption>
  <%= render 'doc_table'%>
 </table>
</div>
</div>
 




  