<h1 class="mb-4"><%= @document.name %></h1>
<div class="row">
    <div class="col-sm-4">
     <%= link_to "download #{@document.name}", rails_blob_path(@document.file, disposition: "attachment") %>
      <%= link_to 'Destroy', document_path(@document), data: {method: :delete, confirm: 'Are you sure?'} %>
      </div>
     <div class="col-sm-8">
     <iframe src= <%= pdfjs.full_path(file: rails_blob_path(@document.file, disposition: "attachment")) %> width="800" height="700" style="border: none; margin-left:50px"> </iframe>
</div>
</div>

