<div class="widget">
  <h3>Справочники</h3>
  <ul>
    <li><%= link_to 'Сотрудники', handbooks_path, class: 'a' %></li>
    <li><%= link_to 'Отделы', departments_link_path, class: 'a' %></li>
    <li><%= link_to 'Маршруты', root_path, class: 'a' %></li>
    <li><%= link_to 'Типы документов', root_path, class: 'a' %></li>
  </ul>
</div>