<%= render 'menu'%>

<div class="col-sm-9">
<table class="book-table">
<caption>Отделы</caption>
  <colgroup>
      <col style="background:#C7DAF0;">
  </colgroup>
  <tr>
    <th>Название</th>
    </tr>
  <tr>
    <td>15-02</td>
    </tr>
</table>
</div>
</div>