<div class="row">
<div class="col-sm-3">
<%= render 'menu'%>
</div>

<div class="col-sm-9">
<table class="book-table">
<caption>Сотрудники</caption>
  <colgroup>
      <col style="background:#C7DAF0;">
  </colgroup>
  <tr>
    <th>ФИО</th>
    <th>Телефон</th>
    <th>E-mail</th>
    <th>Должность</th>
    <th>Отдел</th>
    </tr>
  <tr>
    <td>Арещенков Д.А.</td>
    <td>15-02</td>
    <td>d.areshenkov@octodocs.ru</td>
    <td>Главный программист</td>
    <td>Отдел разработки Qt</td>
    </tr>
</table>
</div>
</div>