<div class="row">
<div class="col-sm-3">
<%= render 'menu'%>
</div>

<div class="col-sm-9">
<table class="book-table">
<caption>Сотрудники</caption>
  <colgroup>
      <col style="background:#C7DAF0;">
  </colgroup>
  <tr>
    <th>ФИО</th>
    <th>Телефон</th>
    <th>E-mail</th>
    <th>Должность</th>
    <th>Отдел</th>
    </tr>
  <tr>
    <td>Арещенков Д.А.</td>
    <td>15-02</td>
    <td>d.areshenkov@octodocs.ru</td>
    <td>Главный программист</td>
    <td>Отдел разработки Qt</td>
    </tr>
  <tr>
    <td>Артемьев Д.А.</td>
    <td>12-09</td>
    <td>d.artemev@octodocs.ru</td>
    <td>Менеджер</td>
    <td>Отдел бизнес-приложений</td>
    </tr>
  <tr>
    <td>Дроздов М.Ф.</td>
    <td>15-17</td>
    <td>m.drozdov@octodocs.ru</td>
    <td>Программист</td>
    <td>Отдел разработки Qt</td>
    </tr>
  <tr>
    <td>Калитинкина А.А.</td>
    <td>12-89</td>
    <td>a.kalitinkina@octodocs.ru</td>
    <td>Менеджер</td>
    <td>Отдел бизнес-приложений</td>
    </tr>
  <tr>
    <td>Князева А.А.</td>
    <td>12-11</td>
    <td>а.knyazeva@octodocs.ru</td>
    <td>Консультант</td>
    <td>Отдел бизнес-приложений</td>
    </tr>
  <tr>
    <td>Шмакова Л.Ф.</td>
    <td>10-08</td>
    <td>l.shmakova@octodocs.ru</td>
    <td>Главный бухгалтер</td>
    <td>Бухгалтерия</td>
    </tr>
</table>
</div>
</div>