@import 'bootstrap';
@import 'menu';
@import 'goaltable';
@import 'doctable';
@import 'booktable';
@import 'profile';

body {
  background-color: #EAE7DC;
 }
 h1 { color: #303C6C}
 p { color: #303C6C}
 label { color: #303C6C}

.step-table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
text-align: center;
border-collapse: separate;
border-spacing: 5px;
background: #ECE9E0;
color: #656665;
border: 10px solid #ECE9E0;
border-radius: 20px;
}
.step-table th {
  font-size: 18px;
padding: 5px;
}
/* границы ячеек тела таблицы */
.step-table td {
  background: #F5D7BF;
padding: 8px;
}

.signin input[type="submit"] {
    text-decoration: none;
    display: inline-block;
    padding: 12px 40px;
    margin-left: 35%;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #E85A4F 0%, #E98074 50%, #cc453b 100%);
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: white;
    transition: .5s;
  
}

.signin label {
  font-size: 20px;
}


.field_with_errors {
  .form-control {
    border-color: $red;
  }
  label {
    color: $red;
  }
} 


.decor {
  position: relative;
  max-width: 80%;
  margin: auto auto 0;
  background: white;
  border-radius: 30px;
}
.form-left-decoration, .form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background: #E98074;
  border-radius: 20px;
}
.form-left-decoration {
  bottom: 60px;
  left: -30px;
}
.form-right-decoration {
  top: 60px;
  right: -30px;
}
.form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: white;
}
.form-left-decoration:before {
  top: -20px;
}
.form-left-decoration:after {
  top: 20px;
  left: 10px;
}
.form-right-decoration:before {
  top: -20px;
  right: 0;
}
.form-right-decoration:after {
  top: 20px;
  right: 10px;
}
.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
}
.form-inner {
  padding: 40px;
}
.form-inner input, .form-inner textarea {
  display: block;
  width: 70%;
  padding: 0 2px;
  margin: 0 auto 5px auto;
  background: #E9EFF6;
  line-height: 30px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}

 #next {
  
  width:10%;
 
}

#condition {
  
  width:62%;
 
}
.form-inner input[type="submit"], .button{
  width: 30%;
  margin-top: 30px;
  background: #E98074;
  border-bottom: 4px solid #E85A4F;
  color: white;
  font-size: 16px;
}
.form-inner textarea{
  resize: none;
  margin: 0 auto 10px auto;
}
.form-inner label {
  resize: none;
  margin: 0 auto 10px auto;
}
.form-inner h3 {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: #E85A4F;
}



.shine-button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #E98074;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #E85A4F;
  transition: .2s ease-in-out;
}
.shine-button:before {
  content: "";
  background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.shine-button:hover {
  background: #E98074;
  color: #fff;
}
.shine-button:hover:before {
  left: 150px;
  transition: .5s ease-in-out;
}


.previous {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #f1f1f1;
  color: black;
}
.previous:hover {
  background-color: #ddd;
  color: black;
}

.form-inner select {
  display: block;
  margin: 0 auto 10px auto;
  width:70%;
  background: #E9EFF6;
  line-height: 1.5em;
  padding: 1em 0.7em;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}
