.goal-table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    border: 1px solid #a9a49f;
    color: #686461;
  }
.goal-table caption {
    padding: 10px;
    color: white;
    background: #BC4639;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    caption-side: top;
  }
.goal-table th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
  }
.goal-table td {
    padding: 10px;
  }
.goal-table tr:nth-child(odd) {
    background: white;
  }
.goal-table tr:nth-child(even) {
    background: #e2dfda;
  }


.route-table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    border: 1px solid #a9a49f;
    color: #686461;
  }
.route-table caption {
    padding: 10px;
    color: white;
    background: #C38D9E;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    caption-side: top;
  }
.route-table th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
  }
.route-table td {
    padding: 10px;
  }
.route-table tr:nth-child(odd) {
    background: white;
  }
.route-table tr:nth-child(even) {
    background: #e2dfda;
  }